:root {
  --primary-color: rgb(110, 180, 249);
}
* {
  /* outline: 1px solid rgb(59, 58, 58) !important; */
  background-color: black;
  color: white;
}
html {
  box-sizing: border-box;
}
*, *::before, *:after {
  box-sizing: inherit;
}

body {
  margin: 1% 0;
}

#header {
  width: 60%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#header h1 {
  color: white;
  font-size: 3em;
}

#to_do_input {
  width: 80%;
  height: 4em;
  background-color: var(--primary-color);
  border-radius: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1%;
}

#task_input, #date_input, #time_input, #add_button {
  width: 80%;
  height: 100%;
  border: none;
  padding: 0 1%;
  font-size: 1em; /* responsive font */
}

/* Rounded edges for smooth connection */
#task_input {
  border-radius: 1em 0 0 1em;
  flex: 2;
}
#date_input, #time_input {
  border-radius: 0;
  flex: 1;
}
#time_input {
  border-radius: 0 1em 1em 0;
}
#add_button {
  border-radius: 0 1em 1em 0;
  flex: 0.5;
  background-color: var(--primary-color);
  color: black;
}

#to_do_filter {
  width: 60%;
  height: 10%;
  text-align: center;
}

#list_display {
  width: 60%;
  height: 65%;
  text-align: center;
  padding: 1%;
  overflow: auto;
}
#to_do_item {
  margin-bottom: 2%;
  padding: 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2em;
  border-radius: 1em;
}
/* #to_do_item_values:hover *:not(#delete_button) {
  background-color: hsl(0, 0%, 25%);
} */
#to_do_item_values {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: 1em;
}
#to_do_item_values_task {
  width: 100%;
  text-align: left;
  font-size: 1.5em;
}
#to_do_item_values_date {
  width: 100%;
  text-align: left;
}
#to_do_item_values_time {
  width: 100%;
  text-align: left;
}
#delete_button {
  padding: 1%;
  font-size: 1em;
  border: 0.1em dotted var(--primary-color);
  border-radius: 0 1em 1em 0;
}
#delete_button:hover {
  background-color: var(--primary-color);
} 

#footer {
  width: 60%;
  height: 10%;
  text-align: center;
}

@media (max-width: 475px) {
  #to_do_input {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  #task_input, #date_input, #time_input, #add_button {
    padding: 1%;
    border-radius: 8px;
    margin: 1% 0;
  }
}

