* {
  outline: 1px solid rgb(59, 58, 58) !important;
  background-color: black;
  color: white;
}
html {
  box-sizing: border-box;
}
*, *::before, *:after {
  box-sizing: inherit;
}

#header {
  width: 60%;
  height: 10%;
  text-align: center;
}

#to_do_input {
  width: 60%;
  height: 10%;
  text-align: center;
}

