/* * {
  outline: 1px solid rgb(251, 251, 251) !important;
  background-color: black;
  color: white;
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*, *::before, *:after {
  box-sizing: inherit;
}

body {
  padding: 1%;
}

#main_container {
  height: 95vh;
  width: 100%; /* 100% instead of 100vw becuase vw causes error due to scrollbar */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  padding: 1%;
}


